In [4]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data =  pd.read_csv('../Data_set/sentiment_analysis.csv')
data.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

### Start the data preperation part

In [5]:
data.shape

(7920, 3)

In [7]:
data.duplicated().sum()

np.int64(0)

In [10]:
data.isnull().sum()

id       0
label    0
tweet    0
dtype: int64

####  When look at the 3 colum there is link upper letters,makrs and etc. So we do some basic NLP steps

#### Convert Upper to Lowercase
#### Remove links
#### Remove Punctuations (wirama lakunu)
#### Remove Numbers 
#### Remove Stopwords (Thaniyama gaththahama therumak nathi wachana)
#### Stemming (One ward can different format get base)

In [12]:
import re    # By using this package I can remove specific type of characterstic Like links
import string # This package have predine functuality. By using that we can remove that kind of pre define functions

In [15]:
# First step convart in to lower case 
data["tweet"] = data["tweet"].apply(lambda x: " ".join(x.lower() for x in x.split()))

# To get the idea of the code First I select the colum tweet 
# Then by using apply  function do all the lamda function for all the rows
# In side the lamda first split the sentence in to separate words. After separation make that in tolower case
# The join that with space 

# Then I turn all the letters in to lower case(simple)

In [16]:
data['tweet'].head()

0    #fingerprint #pregnancy test https://goo.gl/h1...
1    finally a transparant silicon case ^^ thanks t...
2    we love this! would you go? #talk #makememorie...
3    i'm wired i know i'm george i was made that wa...
4    what amazing service! apple won't even talk to...
Name: tweet, dtype: object

In [17]:
# Next Remove the links of the tweet colum 
data['tweet'] = data['tweet'].apply(lambda x:" ".join(re.sub(r'^https?:\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))
# Let s explin this code first get the tweet colum, THen split that in to single word 
# Then chech each word has ^https?:\/\/.*[\r\n]*    this kind of patten if have replace  with nothing then join that remaining words 
#re.sub(pattern, replacement, text, flags=...)

In [18]:
data['tweet'].head()

0    #fingerprint #pregnancy test  #android #apps #...
1    finally a transparant silicon case ^^ thanks t...
2    we love this! would you go? #talk #makememorie...
3    i'm wired i know i'm george i was made that wa...
4    what amazing service! apple won't even talk to...
Name: tweet, dtype: object

In [19]:
# Remove funtuation  (wirama lakunu) 
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [20]:
def remove_punctuation(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation,'')
    return text

data["tweet"] = data["tweet"].apply(remove_punctuation)

# Inside the remove_punctuation   in the for loop, loop the  Each punctuatinality one by one.THen If find that king of function that replace by " ".

In [23]:
data.tail(10)

        id  label                                              tweet
7910  7911      0  perfect match instagood applewatch red instagr...
7911  7912      0  i am completely in love with the new iphone em...
7912  7913      0  tune in turn on drop out  gtd in one app  mobi...
7913  7914      1  ok so my galaxy crashed after one day now i ha...
7914  7915      0  gain followers rt this must follow me i follow...
7915  7916      0  live out loud lol liveoutloud selfie smile son...
7916  7917      0  we would like to wish you an amazing day make ...
7917  7918      0  helping my lovely 90 year old neighbor with he...
7918  7919      0  finally got my smart pocket wifi stay connecte...
7919  7920      0  apple barcelona apple store bcn barcelona trav...

In [25]:
# Then remove the numbers of  the tweet 
data['tweet']= data['tweet'].str.replace(r'\d+','',regex=True)
# Acess the tweet colum, Then conart this in to string. If tere find number convart in to ''.

In [26]:
data.tail(10)

        id  label                                              tweet
7910  7911      0  perfect match instagood applewatch red instagr...
7911  7912      0  i am completely in love with the new iphone em...
7912  7913      0  tune in turn on drop out  gtd in one app  mobi...
7913  7914      1  ok so my galaxy crashed after one day now i ha...
7914  7915      0  gain followers rt this must follow me i follow...
7915  7916      0  live out loud lol liveoutloud selfie smile son...
7916  7917      0  we would like to wish you an amazing day make ...
7917  7918      0  helping my lovely  year old neighbor with her ...
7918  7919      0  finally got my smart pocket wifi stay connecte...
7919  7920      0  apple barcelona apple store bcn barcelona trav...

In [28]:
# Remove the stopwards of the text like is, a ........
!pip install nltk

Requirement already satisfied: nltk in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from nltk) (8.2.1)
Requirement already satisfied: joblib in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.5.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [30]:
import nltk

In [ ]:
nltk.download('stopwords', download_dir = '../